<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="TP.E2ESelenium.Listeners"/>
</listeners>
<test thread-count="5" name="HomePagePass">
    <classes>
      <class name="TP.E2ESelenium.HomePage"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="ValidationAssertFail">
    <classes>
      <class name="TP.E2ESelenium.ValidateTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
